/*
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* Layout Styles */
* {
    box-sizing: border-box;
}

body {
    background: url(../img/bg.gif) scroll;
    font-family: Arial;
}

p {
    margin-bottom: 1em;
}

ul li {
    list-style: square;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    margin: 20px 0 0 0;
}

.header .logo,
.header .top-nav {
    width: 45%;
}

.header .logo {
    float: left;
}

.header .top-nav {
   float: right;
}

.header .top-nav ul li {
    list-style: none;
    display: inline-block;
    border-right: 1px solid #000;
    margin: 0 5px 0 0;
    padding: 0 10px 0 0;
}

.header .top-nav ul li:last-child {
    border: 0;
    margin: 0;
    padding: 0;
}

.header .top-nav li a {
    font-size: 0.8em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.header .top-nav li a:hover,
.header .top-nav li a:active,
.header .top-nav li a:focus {
    text-decoration: underline;
}

.header .top-nav .search-form {
    margin: 10px 0 0 0;
    padding: 0;
    position: relative;
}

.header .top-nav .search-form .search-box {
    background: #EFEFEF;
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 383px;
    height: 28px;
}

.header .top-nav .search-form .search-submit {
    background: #5a5a5a; /* Old browsers */
    background: -moz-linear-gradient(top, #5a5a5a 0%, #101010 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a5a5a), color-stop(100%,#101010)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5a5a5a 0%,#101010 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5a5a5a 0%,#101010 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5a5a5a 0%,#101010 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5a5a5a 0%,#101010 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5a5a', endColorstr='#101010',GradientType=0 ); /* IE6-9 */

    border-radius: 5px;
    height: 28px;
    color: #CCC;
    border: 0;
    position: absolute;
    right: 48px;
    top: 2px;
    font-size: 0.9em;
    text-transform: uppercase;
    cursor: pointer;
}

.header .top-nav .search-form .search-submit:hover,
.header .top-nav .search-form .search-submit:active,
.header .top-nav .search-form .search-submit:focus {
    background: #101010; /* Old browsers */
    background: -moz-linear-gradient(top, #101010 0%, #5a5a5a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101010), color-stop(100%,#5a5a5a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #101010 0%,#5a5a5a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #101010 0%,#5a5a5a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #101010 0%,#5a5a5a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #101010 0%,#5a5a5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#5a5a5a',GradientType=0 ); /* IE6-9 */
}

.header .nav {
    background: #5a5a5a; /* Old browsers */
    background: -moz-linear-gradient(top, #666666 10%, #030303 88%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#666666), color-stop(88%,#030303)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #666666 10%,#030303 88%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #666666 10%,#030303 88%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #666666 10%,#030303 88%); /* IE10+ */
    background: linear-gradient(to bottom, #666666 10%,#030303 88%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5a5a', endColorstr='#101010',GradientType=0 ); /* IE6-9 */

    margin-top: 20px;
    height: 45px;
    width: 100%;
    position: relative;
}

.header .nav .bg {
    background: url(../img/nav_bg.png) center no-repeat;
    height: 125px;
    width: 148px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -40px;
}

.header .nav ul {
    float: right;
    height: 45px;
}

.header .nav ul li {
    list-style: none;
    display: inline-block;
    height: 100%;
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
    position: relative;
}

.header .nav ul li:after {
    content: " ";
    display: block;
    width: 1px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    background: #101010; /* Old browsers */
    background: -moz-linear-gradient(top, #101010 0%, #5a5a5a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101010), color-stop(100%,#5a5a5a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #101010 0%,#5a5a5a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #101010 0%,#5a5a5a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #101010 0%,#5a5a5a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #101010 0%,#5a5a5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#5a5a5a',GradientType=0 ); /* IE6-9 */
}

.header .nav ul li:last-child:after {
    display: none;
}

.header .nav ul li a {
    color: #FFF;
    text-decoration: none;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: bold;
}

.header .nav ul li a:hover,
.header .nav ul li a:active,
.header .nav ul li a:focus {
    color: #EEE;
    text-decoration: underline;
}


.body.container {
    width: 885px;
}


.body.home {
    margin-top: 60px;
}

.body .slider {
    height: 300px;
    width: 100%;
    position: relative;
}

.slider .prev,
.slider .next {
    background: #322F2F;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 130px;
}

.slider .prev {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    left: -40px;
}

.slider .next {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    right: -40px;
}

.slider .prev a,
.slider .next a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: #FFF;
    text-decoration: none;
    line-height: 35px;
    width: 35px;
    text-align: center;
    display: block;
}

.slider .prev a {
    padding-left: 5px;
}

.slider .slider-wrapper {
    height: 278px;
    width: 860px;
    margin: 10px auto 0 auto;
    overflow: hidden;
}

.slider .slides {
    height: 278px;
    width: 3440px;
    margin-left: 0;
}

.slider .slide {
    height: 278px;
    width: 860px;
    float: left;
}

.box {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 10px;
}

.box .content {
    padding: 15px 20px;
}

.body .box .title {
    background: #312E2E;
    margin: 0 0 20px 0;
    padding: 10px 0 10px 10px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #CCC;
    font-size: 1.4em;
    font-weight: normal;
}

.home .box {
    margin-top: 20px;
}

.home .main.box {
    font-family: "Trebuchet MS", Arial;
    font-size: 0.8em;
    line-height: 1.8em;
    color: #333;
}

.box h3,
.box h4 {
    display: block;
    margin-bottom: 1em;
}

.box h3 {
    font-size: 1.5em;
}

.box h4 {
    font-size: 1.2em;
}

.home .main.box ul {
    margin-left: 30px;
}

.home .columns {
    margin-top: 20px;
    width: 100%;
}

.columns .column {
    float: left;
}

.columns .box.column {
    margin-top: 0;
}

.columns .three-column {
    width: 30%;
    margin-right: 5%;
}

.columns .three-column:last-child {
    margin: 0;
}

.columns .column .content {
    padding: 5px 15px;
}

.columns .three-column h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #666;
    padding: 10px 0 10px 15px;
}

.columns .three-column .content {
    font-size: 0.8em;
    color: #666;
    line-height: 1.4em;
}

.footer {
    background: #322F2F url(../img/footer_bg.png) repeat-x top scroll;
    margin-top: 70px;
    height: 180px;
    position: relative;
}

.footer .centered {
    height: 40px;
    width: 139px;
    margin: 0 auto;
    position: relative;
}

.footer .pike {
    background: url(../img/footer_pike.png) no-repeat center scroll;
    width: 139px;
    height: 40px;
    position: absolute;
    top: -34px;
}

.footer .about {
    width: 40%;
    float: left;
    font-size: 0.8em;
    margin: 0 3% 0 3%;
}

.footer .about h5 {
    color:#FFF;
    text-transform: uppercase;
    margin-bottom: 1.3em;
}

.footer .about p {
    color: #999;
    line-height: 1.5em;
}

.footer .footer-nav {
    width: 30%;
    float: right;
    margin-right: 3%;
    font-size: 0.8em;
}

.footer .footer-nav .column span {
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 1em;
    display: block;
}

.footer .footer-nav ul li {
    list-style: none;
    color: #666;
    position: relative;
    padding-left: 10px;
    margin-bottom: 0.5em;
}

.footer .footer-nav ul li:before {
    content: "\2666";
    display: block;
    color: #666;
    position: absolute;
    left: 0;
    top: 0;
}

.footer .footer-nav li a {
    color: #666;
    text-decoration: none;
}

.footer .footer-nav li a:hover,
.footer .footer-nav li a:active,
.footer .footer-nav li a:focus {
    text-decoration: underline;
}

.footer .copyright {
    display: block;
    width: 95%;
    margin: 10px auto 0 auto;
    padding: 10px 0 0 0;
    border-top: 1px solid #666;
    clear: both;
    font-size: 0.8em;
    color: #CCC;
}